.favourites-grid {
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 60px;
}

@media (min-width: 600px) {
  .favourites-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
